#game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p {
  margin: 5px;
  padding: 0px;
}

.ribbon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ribbon button {
  margin: 4px;
  padding: 5px;
}

.board {
  width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(8, 50px);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.square.light {
  background-color: #f1d9b5;
}

.square.dark {
  background-color: #b58863;
}

.square.light.toggled {
  border: 3px solid yellow;
}

.square.dark.toggled {
  border: 3px solid yellow;
}

.value {
  font-size: 50px
}

.promos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.promo {
  width: 20px;
  height: 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: centers;
}

.promo:hover {
  border: 2px solid yellow;
}
